// Glober
@font-face {
    font-family: 'GloberBold';
		src: url('/assets/fonts/glober/Glober.Bold.eot');
    src: url('/assets/fonts/glober/GloberBold.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberSemiBold';
		src: url('/assets/fonts/glober/Glober.Semi.Bold.eot');
    src: url('/assets/fonts/glober/GloberSemiBold.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberSemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberSemiBoldItalic';
		src: url('/assets/fonts/glober/Glober.Semi.Bold.Italic.eot');
    src: url('/assets/fonts/glober/GloberSemiBoldItalic.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberSemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberRegular';
		src: url('/assets/fonts/glober/Glober.Bold.Regular.eot');
    src: url('/assets/fonts/glober/GloberBoldRegular.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberBoldRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberRegularItalic';
		src: url('/assets/fonts/glober/Glober.Bold.Regular.Italic.eot');
    src: url('/assets/fonts/glober/GloberBoldRegularItalic.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberBoldRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
