// Glober
@font-face {
    font-family: 'GloberBold';
		src: url('/assets/fonts/glober/Glober.Bold.otf');
    src: url('/assets/fonts/glober/GloberBold.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberSemiBold';
		src: url('/assets/fonts/glober/Glober.Semi.Bold.otf');
    src: url('/assets/fonts/glober/GloberSemiBold.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberSemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberSemiBoldItalic';
		src: url('/assets/fonts/glober/Glober.Semi.Bold.Italic.otf');
    src: url('/assets/fonts/glober/GloberSemiBoldItalic.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberSemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberRegular';
		src: url('/assets/fonts/glober/Glober.Regular.otf');
    src: url('/assets/fonts/glober/GloberRegular.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloberRegularItalic';
		src: url('/assets/fonts/glober/Glober.Regular.Italic.otf');
    src: url('/assets/fonts/glober/GloberRegularItalic.woff2') format('woff2'),
         url('/assets/fonts/glober/GloberRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
